<style>
div
{
border: 1px solid black;
margin-top:100px;
margin-bottom:100px;
margin-right:70px;
margin-left:70px;
background-color:Maroon;
}
div{
border: 1px solid black;
background-color: Azure;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#firstname
{
background-color:LightGrey;
}
h1 {text-align: center;}

div.a {
  1. Masala Vadai: center;
}
div.a {
  2. Tamarind Rice: center;
}
div.a {
  3. Curd Rice: center;
}
</style>